bin
/CoreSFV3SDK/build
build
*.iml
/SDKSample/AndroidStudioProject/.idea
/SDKSample/AndroidStudioProject/*.iml
/SDKSample/AndroidStudioProject/local.properties
.idea
/ShareFileJavaSDK/local.properties
